/* Header styles */
@font-face {
    font-family: 'birthstone';
    src: url('birthstone.woff2') format('woff2');
}

/* Reset some default styles for better cross-browser consistency */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Set a base font size for better responsiveness */
body {
    font-size: 12px;
}

/* Apply some basic styling for readability */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Add some padding to the body for better spacing */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Style the header */
header {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 0px;
}

/* Style the navigation */
nav {
    background-color: #000000;
    color: #fff;
    text-align: center;
    z-index: 1;
}

nav li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: inline;
    margin: 2em;
}

main {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    z-index: 1;
}

main h2 {
    z-index: 1;
}

main h3 {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}

/* Style the footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* Button styles */
.Google-Calendar-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Google-Calendar-button:hover {
    background-color: #fff;
    color: #333;
}

.nav-button {
    text-decoration: none;
    background-color: #333; /* You can customize the color */
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #2980b9; 
    /* Change the color on hover if desired */
}

/* Make the layout responsive */
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    header, nav, body, aside, footer {
        padding: 5px;
    }
}

/* Add more styling as needed for other elements */
header, section, footer {
    position: relative;
    }

/* Image styles */
img {
    float: right;
    padding-top: 6px;
    max-width: 30%;
    height: 30%;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Behind other elements */
}